*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#sliderNav{
    margin-top: 60px;
}
body{
    background-color: black;
}
.container{
    width: 1100px;
    margin:auto;
    position: relative;
}

.container .slider .slide{
    margin: 0 10px;
    transform: scale(0.8);
    transition: 0.1s ease-in;
    opacity: 0.5;
}
.container .slider .slide.slick-center{
    transform: scale(1);
    opacity: 1;
    transition: 0.7s ease-in;

}
.container .slider img{
    width: 100%;
    display: block;
    height: 500px;
    object-fit: cover;
}
.container .slider {
    position: relative;
}
.container .left, .container .right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff88;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
.container .right{
    right: 33%;
}
.container .left{
    left: 33%;
}